.labs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}

.projects {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
  padding: 2.4%;
  text-align: center;
  margin-left: 10%;
  background-color: #332431;
  border-style: groove;
  border-width: medium;
  border-color: #e2f3e4;
}

.labs__title {
  font-size: 3em;
  text-align: center;
  margin-top: 4%;
}
