.navbar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #332431;
}
.navbar li {
    display: block;
    float: left;
    padding: 8px;
    background-color: #4c90a1;
  }
  body {
    background-color: #303042;
    color: #fcffde;
  }
